<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShoppingCartDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D346DBD1CAE5A6800688589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D346DD01CAE5A6900688589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D346DDB1CAE5A6900688589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
